<!-- howdy/templates/index.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Howdy!</title>
        <link rel="stylesheet" href="/websiteapp01/static/style.css"/>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <body style="background-color:gainsboro;">
    </head>
    <body>
        <div class='heromod'
        <h1>Howdy! I am Learning Django!</h1>
        </div>
        <div class='secmod'>
        <a href="/about/"> About me</a>
        <p>
            You can also find aout more about me
        </p>
        <a href="/detail/"> More detail</a>
        </div>
    </body>
</html>