<!-- howdy/templates/index.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Howdy!</title>
        <link rel="stylesheet" href="/websiteapp01/static/style.css"/>
    </head>
    <body>
        <h1>Howdy! I am Learning Django!</h1>
        <img src="websiteapp01/static/image.jpg" style="width:500px;height:500px;">
        <a href="/about/"> About me</a>
        <p>
            You can also find aout more about me
        </p>
        <a href="/detail/"> More detail</a>
    </body>
</html>