body {
	font-family: 'Roboto', sans-serif;
    background-color: #464646;
}


h1 {
	font-size: 5em;
	text-align:center;
}

h3 {
    color: #D0011B;
    font-weight: lighter;
}


.nav {
    font-size: 2em;
    
}

#intro {
    background-color: white;
    box-shadow: 0.2em 0.2em 0.5em grey;
    max-width: 1200px;
    text-align: center;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

    /*background: url(/websiteapp01/static/space.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;*\